streamlit
fastapi
uvicorn
groq
langchain
langchain-groq
langchain-community
langchain-huggingface
sentence-transformers
chromadb
passlib[bcrypt]
pandas
python-dotenv
requests
duckdb
tabulate
pydantic
pytest
playwright
pytest-playwright
